.title-container {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    margin-top: 60px;
    margin-bottom: 50px;
}

.project-container {
    margin-top: -120px;
}

.MKL, 
.puppy-match,
.THD, 
.Flutter {
    display: flex;
    width: 600px;
}

.lunchbox,
.goldenRetriever,
.THDLogo,
.butterfly {
    background-color: #fff;
    width: 200px;
    height: 185px;
    margin-left: 90px;
    border-style: groove;
    border-width: 5px;
    border-color: #ffd700;
    border-radius: 5%;
}

a {
    text-decoration: none;
}

.MKL-title, 
.puppyMatch-title,
.THD-title,
.Flutter-title {
    font-size: x-large;
    width: 250px;
}

.technologies {
    margin-bottom: -80px;
    margin-left: -40px;
    font-size: large;
    width: 100px;
    color:#ffd700;
}

p {
    margin-top: 20px;
}