.certifications-page
  .SpringboardImage {
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 45%;
  }

  h1 {
    margin-left: 100px;
  }

  .cert-h1 {
    color: #ffd700;
    font-size: 45px;
    margin-top: -10em;
    margin-left: 5em;

  }