.certifications-page
  .SpringboardImage {
    width: 35em;
    margin-top: 10%;
    margin-left: 55%;
  }

.certifications-page
  .AgileScrumFundImg {
    width: 30em;
    margin-top: -35%;
    margin-left: 20%;
  }

  h1 {
    margin-left: 100px;
  }

  .cert-h1 {
    color: #ffd700;
    font-size: 45px;
    margin-top: -10em;
    margin-left: 5em;

  }